/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.section-default {
    padding-top: 70px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}

.section-default:after {
    content: url("../../assets/img/background-cloud.png");
    display: block;
    position: absolute;
    left: 67%;
    top: 20%;
    bottom: 12.9%;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    z-index: -1;
}

.section-default--inverse .section-default__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.section-default--inverse.section-default:after{
    content: url("../../assets/img/background-cloud1.png");
    left: -8%;
    top: -3.49%;
}

.section-default__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-default__content {
    -webkit-box-flex: 1.1;
    -ms-flex: 1.1;
    flex: 1.1;
}

.section-default__img-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-default__img-wrap {
    -webkit-transform: translate(-40px, 0);
    -ms-transform: translate(-40px, 0);
    transform: translate(-40px, 0);
}

.section-default__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    color: var(--text-color);
    margin-bottom: 48px;
}

.section-default__paragraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: var(--text-color);
    margin-bottom: 48px;
}

.section-default__list {
    list-style: none;
}

.section-default__list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 16px;
}

.section-default__list li:last-child {
    margin-bottom: 0;
}

.section-default__list li:before {
    content: url("../../assets/img/puzzle.svg");
    display: block;
    margin-right: 16px;
}

.section-form {
    padding-top: 0;
}

@media (max-width: 1199.98px) {
    .section-default {
        padding-top: 54px;
        padding-bottom: 54px;
    }
}

@media (max-width: 991.98px) {
    section.section-adaptation {
        padding-top: 30px;
    }

    .section-default {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .section-form {
        padding-top: 0;
    }

    .section-default__content {
        -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
        flex: 1.5;
    }

    .section-default:after {
        content: url("../../assets/img/background-cloud-sm.png");
        left: 77%;
        top: 28%;
    }

    .section-default--inverse.section-default:after{
        content: url("../../assets/img/background-cloud1-sm.png");
        left: -7%;
        top: 27%;
    }

    .section-default__img-wrap {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .section-default__img-wrap img {
        width: 200px;
        height: 200px;
    }

    .section-default__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .section-default__paragraph {
        margin-bottom: 24px;
    }

    .section-form__description {
        margin-bottom: 32px;
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .section-default {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .section-default:after {
        display: none;
    }

    .section-default--inverse.section-default:after{
        display: none;
    }

    .section-default--inverse .section-default__wrapper,
    .section-default__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .section-default__img-wrap {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-bottom: 24px;
    }

    .section-default__img-wrap img {
        width: 64px;
        height: 64px;
    }

    .section-default__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
    }

    .section-default__paragraph {
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
    }

    .section-default__list li {
        font-size: 16px;
        line-height: 21px;
    }

    .section-adaptation {
        margin-top: -64px;
    }
}

.section-adaptation {
    padding-top: 160px;
}


.section-form {
    -webkit-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    transform: translate(0, 70px);
    padding-bottom: 0;
}

.section-form:after,
.section-form:before {
    content: none;
}

.section-form__wrapper {
    text-align: center;
}

.section-form__title {
    margin-bottom: 20px;
}

.section-default__description {
    margin-bottom: 64px;
}
