.header__background {

}

.violet-background {
    background: linear-gradient(315deg, #5EFCE8 0%, #736EFE 100%);
}


.violet-background:after {
    content: 'Адаптация';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) rotate(90deg);
    color: #FFFFFF;
    opacity: 0.1;
    font-size: 150px;
}

.offer__features-img {
    position: relative;
    top: 58px;
    right: -60px;
}

.offer__colored-text {
    color: var(--project-pink);
}

.offer__text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 24px;
}

.offer__list {
    padding-left: 14px;
    margin-bottom: 40px;
}

.offer__features-img--md {
    display: none;
}

.offer__list li {
    font-weight: 450;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
}

.offer__list li:not(:last-child) {
    margin-bottom: 12px;
}

.offer__list li::marker {
    background-color: var(--project-pink);
}

.features__list {
    transform: none;
}

.offer {
    margin-bottom: 124px;
}

.offer__image-wrap {
    overflow: initial;
}

.offer__title {
    max-width: 470px;
}

.section-communication {
    margin-top: 100px;
    background: linear-gradient(315deg, #5EFCE8 0%, #736EFE 100%);
    border-radius: 40px 0px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-communication__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 48px;
    text-align: center;
}

.section-communication__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-communication__list li {
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
}

.section-communication__list li:before {
    content: url("../../assets/img/plus-3d.svg");
    display: inline-block;
    margin-right: 24px;
}

.section-benefit {
    padding-top: 100px;
}

.section-benefit .section-default__wrapper {
    align-items: center;
}

.section-benefit  .section-default__content {
    flex: 2;
}

.section-benefit__list li:before {
    content: url("../../assets/img/dimond.svg");
}

.section-benefit__title {
    font-size: 40px;
    line-height: 48px;
}

.section-benefit__title > span {
    background: -webkit-linear-gradient(135deg, #EE9AE5 0%, #736EFE 96.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.steps-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.section-default__wrapper {
    align-items: center;
}

.section-step--first .section-default__img-wrap img:last-child{
    position: absolute;
    bottom: 35px;
    right: -60px;
}

.section-step__paragraph {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    max-width: 420px;
    position: relative;
}

.section-step h4 span {
    background: linear-gradient(135deg, #EE9AE5 0%, #736EFE 96.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    padding: 10px;
}

.section-step h4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    background:
            linear-gradient(#f3f2f5,  #f1eff4) padding-box,
            linear-gradient(to right bottom, #736efead, #5efce8ad) border-box;
    border: 2px solid transparent;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.section-step--fifth,
.section-step--third,
.section-step--first {
    padding-bottom: 150px;
}

.section-step__arrow-img{
    position: absolute;
    right: -20px;
    bottom: 0;
}

.section-step--first .section-step__arrow-img {
    transform: translate(0, 100%);
}

.section-step--second .section-step__arrow-img {
    transform: scale(-1, 1) translate(0, 100%);
}

.section-step--third .section-step__arrow-img {
    transform: translate(0, 170%);
}

.section-step--fourth .section-step__arrow-img {
    transform: scale(-1, 1) translate(-30%, 150%);
}

.section-step--fifth .section-step__arrow-img {
    transform: translate(0, 170%);
}

.section-step--sixth .section-step__arrow-img {
    transform: scale(-1, 1) translate(-45%, 130%);
}

.section-step--seventh .section-step__arrow-img {
    display: none;
}

.section-step--fourth .section-default__img-wrap {
    display: flex;
    flex-direction: column;
}

.section-step--fourth .section-default__img-wrap img {
    transform: translate(-20px, 0);
}

.section-step--fourth .section-default__img-wrap img:nth-child(2) {
    position: absolute;
    transform: translate(0, 0);
    right: 0;
    top: 30%;
}

.section-step .section-default__list {
    margin-top: 48px;
}

.section-step .section-default__list li {
    max-width: 420px;
}

@media (max-width: 1199.98px){
    .offer__features-img {
        max-width: 500px;
    }
}

@media (max-width: 991.98px) {
    .offer__features-img {
        display: none;
    }

    .offer__features-img--md {
        display: block;
    }

    .offer__title {
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        max-width: 100%;
        margin-top: 0px;
    }

    .offer__list {
        display: none;
    }

    .offer__text {
        text-align: center;
        margin-bottom: 40px;
    }

    .offer {
        margin-bottom: 48px;
    }

    .section-communication__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .section-communication__list li:not(:last-child) {
        margin-bottom: 48px;
    }

    .section-communication {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@media (max-width: 767.98px) {
    .section-communication {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .section-communication__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
    }
}

@media (max-width: 575.98px){
    .offer__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
    }

    .offer__wrap {
        display: grid;
        grid-template-rows: min-content 1fr;
    }

    div.offer__image-wrap {
        display: block;
    }
}

