.header__background {

}

.violet-background {
    background: linear-gradient(315deg, #5EFCE8 0%, #736EFE 100%);
}


.violet-background:after {
    content: 'Адаптация';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) rotate(90deg);
    color: #FFFFFF;
    opacity: 0.1;
    font-size: 150px;
}

.section-step.section-default:after {
    top: 10%;
}

.section-default--inverse.section-default:after {
    top: -3.49%;
}

.section-step .section-default__wrapper {
    min-height: 450px;
}

.offer__features-img {
    position: relative;
    top: 58px;
    right: -60px;
}

.offer__colored-text {
    color: var(--project-pink);
}

.offer__text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 24px;
    max-width: 450px;
}

.offer__list {
    padding-left: 14px;
    margin-bottom: 40px;
}

.offer__features-img--md {
    display: none;
}

.offer__list li {
    font-weight: 450;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
}

.offer__list li:not(:last-child) {
    margin-bottom: 12px;
}

.offer__list li::marker {
    color: var(--project-pink);
}

.features__list {
    transform: none;
}

.offer {
    margin-bottom: 124px;
}

.offer__image-wrap {
    overflow: initial;
}

.offer__title {
    max-width: 470px;
}

.section-communication {
    margin-top: 100px;
    background: linear-gradient(315deg, #5EFCE8 0%, #736EFE 100%);
    border-radius: 40px 0px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-communication__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 48px;
    text-align: center;
}

.section-communication__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-communication__list li {
    font-weight: 450;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #fff;
}

.section-communication__list li:before {
    content: url("../../assets/img/plus-3d.svg");
    display: inline-block;
    margin-right: 24px;
}

.section-benefit {
    padding-top: 100px;
}

.section-benefit .section-default__wrapper {
    align-items: center;
}

.section-benefit  .section-default__content {
    flex: 2;
}

.section-benefit__list li:before {
    content: url("../../assets/img/dimond.svg");
    height: 32px;
}

.section-benefit__title {
    font-size: 40px;
    line-height: 48px;
}

.cases-slide__aside .swiper-slide__features-list li p,
.section-benefit__title > span {
    background: -webkit-linear-gradient(135deg, #EE9AE5 0%, #736EFE 96.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.steps-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
}

.section-default__wrapper {
    align-items: center;
    gap: 40px;
}

.section-step--first__image--first {
    margin-right: auto;
}

.section-step--first__image--second{
    position: absolute;
    bottom: -40px;
    right: 25px;
}

.section-step--first .section-default__img-wrap {
    position: relative;
}

.section-step__paragraph {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    max-width: 420px;
    position: relative;
}

.section-step--index span {
    background: linear-gradient(135deg, #EE9AE5 0%, #736EFE 96.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    padding: 10px;
}

.section-step--index {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    background:
            linear-gradient(#f3f2f5,  #f1eff4) padding-box,
            linear-gradient(to right bottom, #736efead, #5efce8ad) border-box;
    border: 2px solid transparent;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-bottom: 48px;
}

.section-step--fifth,
.section-step--third,
.section-step--first {
    padding-bottom: 150px;
}

.section-step__arrow-img{
    position: absolute;
    right: -20px;
    bottom: 0;
}

.section-step--first .section-step__arrow-img {
    transform: translate(0, 100%);
}

.section-step--second .section-step__arrow-img {
    transform: scale(-1, 1) translate(0, 100%);
}

.section-step--third .section-step__arrow-img {
    transform: translate(0, 170%);
}

.section-step--fourth .section-step__arrow-img {
    transform: scale(-1, 1) translate(-30%, 150%);
}

.section-step--fifth .section-step__arrow-img {
    transform: translate(0, 170%);
}

.section-step--sixth .section-step__arrow-img {
    transform: scale(-1, 1) translate(-45%, 130%);
}

.section-step--seventh .section-step__arrow-img {
    display: none;
}
.section-step--sixth .section-default__img-wrap,
.section-step--fourth .section-default__img-wrap {
    display: flex;
    flex-direction: column;
}

.section-step--fourth .section-default__img-wrap img {
    /*transform: translate(-20px, 0);*/
}

.section-step--fourth__img--first {
    margin-bottom: 24px;
}

.section-step--fourth__img--second {
    position: absolute;
    right: initial;
    top: 40%;
    left: 295px;
    z-index: 1;
}

.section-step .section-default__list {
    margin-top: 48px;
}

.section-step .section-default__list li {
    max-width: 420px;
}


.section-step__arrow-img__sm {
    display: none;
}

.cases-slide_wrapper {
    background-color: #fff;
    display: flex;
    box-shadow: 0px 17px 64px rgba(128, 111, 245, 0.16);
    border-radius: 24px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*margin-right: 48px;*/
    /*margin-left: 48px;*/
}

.section-default__img-wrap {
    transform: none;
}

.section-step .section-default__img-wrap img {
    width: initial;
    height: initial;
    max-width: 100%;
}

.section-step .section-default__img-wrap {
    flex: 2;
}

.cases-slide__aside {
    padding: 32px 40px;
    border-right: 1px solid #F2F2F2;
}

.cases-slide__aside img {
    min-width: 144px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: url('../../assets/img/slider-arr.svg');
}

.swiper-button-next::after {
    transform: rotate(180deg);
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 5%;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 5%;
}

.cases-slide__main {
    padding: 32px 40px;
}

.cases-slide__main h5 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 32px;
}

.cases-slide__main p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.swiper-slide__features-list {
    list-style: none;
    margin-top: 32px;
    min-width: 218px;
}

.section-cases {
    margin-bottom: 150px;
}

.section-cases__title {
    text-align: center;
    margin-bottom: 80px;
}

.swiper-slide__features-list li:not(:last-child) {
    margin-bottom: 32px;
}

.swiper-slide__features-list li p {
    font-weight: 600;
    font-size: 32px;
    line-height: 24px;
    margin-bottom: 8px;
}

.swiper-slide__features-list li span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.carousel {
    margin-bottom: 0;
}

.carousel .section-default__title {
    text-align: center;
}

.swiper {
    padding: 40px 0 80px 80px;
}

.swiper-cases {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

div.cases-slide__aside img {
    margin-bottom: 0;
}

.swiper-scrollbar {
    display: none;
}

.swiper-slide__wrap {
    transform: none;
}

.swiper-slide.pseudo-slide {
    opacity: 0;
}

.swiper-scrollbar-drag {
    background: linear-gradient(135deg, #EE9AE5 0%, #736EFE 96.56%);;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    background-color: #e4e3ec;
    height: 8px;
    bottom: 48px;
    border-radius: 8px;
    width: calc(100% - 32px);
    left: 16px;
}

.offer__wrap {
    grid-gap: 80px;
}

.offer__image-wrap {
    position: initial;
}

.offer__tags {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 16px;
    grid-row-gap: 12px;
    max-width: 540px;
    min-width: 540px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 38%;
}

.tag {
    background: #FFFFFF;
    box-shadow: 0px 14.4242px 54.303px rgba(128, 111, 245, 0.16);
    border-radius: 14px;
    padding: 14px 20px;
    font-weight: 450;
    font-size: 20.3636px;
    line-height: 20px;
}

.section-step .section-step--first__image--first {
    position: relative;
    left: 50px;
}

@media (max-width: 1199.98px){
    .offer__features-img {
        max-width: 500px;
    }

    .cases-slide_wrapper {
        max-width: 800px;
    }

    .section-step--fourth__img--second {
        left: 225px;
    }
}

@media (max-width: 991.98px) {
    .section-step .section-step--first__image--first {
        left: initial;
    }

    .section-step--seventh .section-default__img-wrap img {
        width: 330px;
        margin-right: auto;
    }

    .section-step--fifth .section-default__img-wrap img {
        width: 330px;
        margin-right: auto;
    }

    .section-step--third .section-default__img-wrap img {
        width: 330px;
        margin-right: auto;
    }

    .section-step--second .section-default__img-wrap img {
        width: 300px;
        margin-right: auto;
    }
    .section-step .section-default__img-wrap {
        flex: 1.5;
    }
    .offer__image-wrap {
        min-height: initial;
        margin-top: 24px;
        margin-bottom: 48px;
    }
    .offer__features-img {
        display: none;
    }

    .offer__features-img--md {
        display: block;
    }

    .section-step--first .section-default__img-wrap img {
        width: 270px;
    }

    .offer__title {
        text-align: center;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        max-width: 100%;
        margin-top: 0px;
    }

    .offer__list {
        display: none;
    }

    .offer__tags {
        position: initial;
        justify-content: center;
    }

    .offer__wrap {
        grid-gap: 0;
    }

    .offer__text {
        text-align: center;
        margin-bottom: 40px;
    }

    .section-step {
        padding-bottom: 64px;
        padding-top: 64px;
    }

    .section-benefit__title {
        margin-bottom: 40px;
    }

    .section-benefit.section-default--inverse.section-default:after {
        content: none;
    }

    .section-benefit .section-default__img-wrap img {
        width: initial;
        height: 330px;
    }

    .section-default__list li {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    .section-default__list li:last-child {
        margin-bottom: 0;
    }

    .section-step__paragraph {
        font-size: 28px;
        line-height: 32px;
    }

    .section-default__img-wrap {
        flex: 1.5;
    }

    .offer {
        margin-bottom: 48px;
    }

    .section-communication__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .section-communication__list li:not(:last-child) {
        margin-bottom: 48px;
    }

    .section-communication {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .section-step__arrow-img {
        display: none;
    }

    .section-step .section-default__content {
        position: relative;
    }

    .section-step__arrow-img__sm {
        display: block;
        position: absolute;
        right: 10px;
        bottom: 40px;
        transform: translate(0, 100px);
    }

    .section-default--inverse .section-step__arrow-img__sm {
        display: block;
        position: absolute;
        right: 10px;
        bottom: 0;
        transform: scale(-1, 1) translate(0, 100px);
    }

    .section-step .section-default__list li {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .section-step .section-default__list li:last-child {
        margin-bottom: 0;
    }

    .section-step .section-default__list {
        margin-top: 24px;
    }

    .section-step--fourth .section-step--fourth__img--first {
        width: 215px;
    }

    .section-step--fourth__img--second {
        width: 215px;
    }

    .section-step--fourth__img--third {
        width: 215px;
    }

    .swiper-button-prev {
        display: none;
    }

    .swiper-button-next {
        display: none;
    }

    .cases-slide_wrapper {
        max-width: calc(100% - 64px);
    }

    .section-step .section-default__wrapper {
        min-height: 300px;
    }

    .section-step--first__image--second {
        top: 70%;
        right: 0;
    }

    .section-step .section-default__img-wrap {
        transform: none;
    }

    .section-step--sixth .section-default__img-wrap img,
    .section-step--fourth .section-default__img-wrap img {
        width: 280px;
        margin-right: auto;
        margin-bottom: 14px;
    }

    .section-step--sixth .section-default__img-wrap img:last-child,
    .section-step--fourth .section-default__img-wrap img:last-child {
        margin-bottom: 0;
    }

    .section-step--fourth .section-default__img-wrap img.section-step--fourth__img--second {
        left: 70px;
        top: 38%;
    }

    .section-step--fourth .section-default__img-wrap {
        position: relative;
    }
}

@media (max-width: 767.98px) {
    .features__item:last-child {
        margin-bottom: 0;
    }

    .section-communication {
        margin-top: 48px;
    }

    .offer__image-wrap {
        margin-top: 16px;
        margin-bottom: 32px;
    }

    .section-default__wrapper {
        gap: 0;
    }
    .section-communication {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .section-communication__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .section-step__arrow-img {
        display: none;
    }

    .section-step__arrow-img__sm {
        display: none;
    }

    .section-default--inverse .section-default__wrapper,
    .section-default__wrapper {
        flex-direction: column;
    }
    .section-benefit {
        padding-top: 58px;
        padding-bottom: 80px;
    }

    .section-benefit .section-default__wrapper {
        flex-direction: column-reverse;
    }

    .section-benefit .section-default__img-wrap {
        margin-bottom: 32px;
    }

    .section-benefit .section-default__img-wrap img{
        max-height: 200px;
    }

    .steps-title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .section-step--fifth, .section-step--third, .section-step--first {
        padding-top: 0;
    }


    .section-step {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .section-step .section-default__content {
        margin-bottom: 32px;
    }

    .section-step--first__image--first {
        position: relative;
        left: -20px;
    }

    .section-step--first__image--second {
        right: -20px;
        /*second-img*/
        /*display: none;*/
    }

    .section-step__paragraph {
        font-size: 24px;
        line-height: 24px;
    }

    .section-step--index {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .section-default__img-wrap {
        margin-bottom: 0;
    }

    .section-default__img-wrap img {
        width: initial;
        height: initial;
        max-width: 100%;
    }

    .section-benefit__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .section-default__list li {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    .section-step .section-default__list {
        margin-top: 24px;
    }

    .section-step .section-default__list li {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .section-step .section-default__list li:last-child {
        margin-bottom: 0;
    }

    .cases-slide_wrapper {
        max-width: calc(100% - 32px);
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
    }

    .cases-slide__aside {
        background-color: #fff;
        box-shadow: 0px 17px 64px rgba(128, 111, 245, 0.16);
        border-radius: 24px;
    }

    .section-cases__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    .cases-slide__main {
        padding: 40px 0 0;
    }

    .section-cases {
        margin-bottom: 80px;
    }

    .swiper-scrollbar {
        display: block;
    }

    .swiper {
        padding-left: 16px;
    }

    .section-form {
        padding-top: 0;
    }

    .section-step--fourth .section-default__img-wrap img {
        width: 214px;
        margin-right: auto;
        margin-bottom: 14px;
    }

    .section-step--fourth .section-default__img-wrap img {
        width: 240px;
    }

    .section-default--inverse .section-step__arrow-img__sm {
        display: none;
    }
}

@media (max-width: 575.98px){

    .offer__tags {
        min-width: initial;
        max-width: 350px;
    }
    .tag {
        border-radius: 8px;
        padding: 8px 14px;
        font-size: 13.1733px;
        line-height: 13px;
    }

    .offer__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 32px;
    }

    /*.offer__wrap {*/
    /*    display: grid;*/
    /*    grid-template-rows: min-content 1fr;*/
    /*}*/

    div.offer__image-wrap {
        display: block;
    }

    .swiper-slide__wrap {
        transform: none;
    }

    .section-step--fourth .section-default__img-wrap img.section-step--fourth__img--second {
        left: 65px;
    }
}

@media (max-width: 425.98px) {
    .section-step--sixth .section-default__img-wrap,
    .section-step--first .section-default__img-wrap,
    .section-step--fourth .section-default__img-wrap {
        width: 100%;
    }

    .section-step--sixth img.section-step--fourth__img--first{
        margin-left: auto;
        margin-right: 0;
    }
    .section-step--sixth .section-step--fourth__img--third {
    }

    .section-step--fourth .section-default__img-wrap img.section-step--fourth__img--second {
        left: initial;
        right: 0;
    }

    .section-step--first__image--first {
        position: relative;
        left: 0;
    }

    .section-step--first__image--second {
        right: 0;
    }

}

